// URL de la palette: http://paletton.com/
@import url('https://fonts.googleapis.com/css?family=Roboto|Solway&display=swap');
// Color
$background-color :#D5C9FC;
$block-background-color: #bbafe0;
$block-background-color-shadow:#bbafe0cc;
$headerFooter-background-color: #857fbb;
$bloc-title-color: #42317A;
$main-title-color: #0d0620;
$text-color: #010003; //

//Font
$title-font: 'Solway', serif;
$text-font: 'Roboto', sans-serif;

$fontSizeInit: 1vw;

//Spacement
$padding:0.5%;
$radius:10px;
